{%- for location_id, content in tree -%}

{%- if grouped[location_id] is defined -%}

    <li>

    {%- if assets[location_id] is defined and names[assets[location_id].type_id] is defined -%}

        {{ names[assets[location_id].type_id].name }}

        (#{{ location_id }})

    {%- elseif locations[location_id] is defined and locations[location_id] is not null -%}

        <strong>{{ locations[location_id].name }}</strong>

        {% if names[locations[location_id].type_id] is defined %}

        [<em>{{ names[locations[location_id].type_id].name }}</em>]

        {% endif %}

        (#{{ location_id }})

    {%- else -%}

        <em>unknown</em>  (#{{ location_id }})

    {%- endif -%}

    {%- if content|length -%}

        <ul>

            {%- include 'pilot/assets/list.html.twig' with { 'tree': content } -%}

            {%- for asset in grouped[location_id] -%}

                {%- if grouped[asset.item_id] is not defined -%}

                    <li class="">

                        {{- names[asset.type_id].name -}}

                        {%- if asset.quantity is defined -%}

                            &nbsp; <span class="badge badge-light">{{ asset.quantity }}</span>

                        {%- endif -%}

                    </li>

                {%- endif -%}

            {%- endfor -%}

        </ul>

    {%- endif -%}

    </li>

{%- endif -%}

{%- endfor -%}
