{% macro link(text, route, classes = []) %}
    {% set current = app.request.get('_route') -%}
    {% if current == route %}{% set classes = classes|merge(['active']) %}{% endif -%}

    <li class="nav-item">
        <a class="nav-link{% if classes|length %} {{ classes|join(' ') }}{% endif %}" href="{{ path(route) }}">
            {{- text }}{% if current == route %} <span class="sr-only">(current)</span>{% endif -%}
        </a>
    </li>

{%- endmacro %}

{% import _self as menu -%}

<div class="d-flex p-3"><strong>EVE Dashboard</strong></div>
<ul class="nav flex-column">
    {{ menu.link('Overview', 'index') }}
    {{ menu.link('Assets', 'assets') }}
    {{ menu.link('Trained', 'skills.trained') }}
    {{ menu.link('Queued', 'skills.queued') }}
    {{ menu.link('Logout', 'security.logout', ['text-danger']) }}
</ul>
