{% extends 'layout.html.twig' %}

{% block main %}

{% if queue|length %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" width="25%"></th>
            <th scope="col" class="text-uppercase"><i class="fas fa-book" aria-hidden="true"></i> skill</th>
            <th scope="col" class="text-uppercase"><i class="far fa-calendar-alt" aria-hidden="true"></i> start</th>
            <th scope="col" class="text-uppercase"><i class="far fa-calendar-alt" aria-hidden="true"></i> finish</th>
            <th scope="col" class="text-uppercase"><i class="far fa-clock" aria-hidden="true"></i> remaining</th>
        </tr>
        <tr>
            <td></td>
            <td>
                <label class="sr-only" for="search-by-name">Search</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control" id="search-by-name" aria-describedby="Search by name" placeholder="Search">
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        {% set training = false %}
        {% for skill in queue %}
        {% set finished = skill.finish_date is defined and date(skill.finish_date) < date() %}
        {% set first = not finished and not training %}
        <tr>
            <td class="px-0">

                <div class="progress">
                {% for i in 1..5 %}
                    {% if skill.finished_level > i %}
                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    {% elseif skill.finished_level == i and finished %}
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    {% elseif skill.finished_level == i and first %}{% set training = true %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    {% elseif skill.finished_level == i %}
                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    {% else %}
                    <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                {% endfor %}
                </div>

            </td>
            <td>{{ names[skill.skill_id].name }}</td>
            <td>{% if skill.start_date is defined %}{{ skill.start_date|date("m/d H:i") }}{% else %}-{% endif %}</td>
            <td>{% if skill.start_date is defined %}{{ skill.finish_date|date("m/d H:i") }}{% else %}-{% endif %}</td>
            <td>
                {% if finished %}
                    -
                {% elseif skill.finish_date is not defined %}
                    -
                {% else %}
                {% set diff = date(skill.finish_date).diff(date(skill.start_date)) %}
                {% if diff.m > 0 %}> {{ diff.m }} month{% else %}
                    {% if diff.d > 0 %}{{ diff.d }}d{% endif %}
                    {% if diff.h > 0 %}{{ diff.h }}h{% endif %}
                    {% if diff.i > 0 %}{{ diff.i }}m{% endif %}
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="alert alert-danger">
    Currently no skills queued for training.
</div>

{% endif %}

{% endblock %}

{% block script %}

<script type="text/javascript">
    $(document).ready(function () {

        (function ($) {

            $('#search-by-name').keyup(function () {

                var rex = new RegExp($(this).val(), 'i');
                var rows = $('.table tbody tr');

                rows.hide();
                rows.filter(function () {
                    return rex.test($(this).text());
                }).show();

            });

        }(jQuery));

    });
</script>

{% endblock %}
