{% extends 'layout.html.twig' %}

{% block main %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th width="25%" class="text-uppercase"><i class="fas fa-signal"></i> level</th>
            <th class="text-uppercase"><i class="fas fa-book" aria-hidden="true"></i> skill</th>
        </tr>
        <tr>
            <td>
                <label class="sr-only" for="filter-by-level">Search</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-filter"></i></div>
                    </div>
                    <select class="form-control" id="filter-by-level" aria-describedby="Filter by level">
                        <option value="-1">Unfiltered</option>
                        <option value="0">Untrained</option>
                        <option value="1">Level 1 skills</option>
                        <option value="2">Level 2 skills</option>
                        <option value="3">Level 3 skills</option>
                        <option value="4">Level 4 skills</option>
                        <option value="5">Level 5 skills</option>
                    </select>
                </div>
            </td>
            <td>
                <label class="sr-only" for="search-by-name">Search</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control" id="search-by-name" aria-describedby="Search by name" placeholder="Search">
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
    {% for group in tree %}
        <tr class="table-active">
            <td colspan="2">{{ group.name }}</td>
        </tr>
    {% for skill in group._children %}
        <tr data-skill-level="{% if skills[skill.type_id] is defined %}{{ skills[skill.type_id].trained_skill_level }}{% else %}0{% endif %}">
            <td class="px-0">
                {% if skills[skill.type_id] is not defined %}
                {% else %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ skills[skill.type_id].trained_skill_level * 20 }}%" aria-valuenow="{{ skills[skill.type_id].trained_skill_level }}" aria-valuemin="0" aria-valuemax="5">
                    {% if skills[skill.type_id].trained_skill_level > 0 %}
                        {{ skills[skill.type_id].trained_skill_level }}
                    {% endif %}
                    </div>
                </div>
                {% endif %}
            </td>
            <td>{{ skill.name }}</td>
        </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block script %}

<script type="text/javascript">
    $(document).ready(function () {

        (function ($) {

            $('#search-by-name').keyup(function () {

                $('#filter-by-level input').removeAttr('selected');
                $('#filter-by-level option:first-child').attr('selected', 'selected');

                var rex = new RegExp($(this).val(), 'i');
                var rows = $('.table tbody tr[data-skill-level]');
                rows.hide();
                rows.filter(function () {
                    return rex.test($(this).text());
                }).show();

            });

            $('#filter-by-level').change(function () {

                $('#search-by-name').val('');

                var rows = $('.table tbody tr[data-skill-level]');
                var value = $(this).val();
                rows.hide();

                if (-1 == value) {
                    rows.show();
                } else {
                    rows.filter('[data-skill-level="' + value + '"]').show();
                }
            });

        }(jQuery));

    });
</script>

{% endblock %}
